.window {
  width: 500px;
  height: 300px;
  border: 5px solid #4c4646;
  border-radius: 5px;
  position: absolute;
  background: white;
}

.header {
  height: 50px;
  background-color: #4c4646;
  cursor: move;
}

.icon {
  float: right;
  color: white;
  margin: 10px 10px 0;
}

.fa-folder-plus {
  color: white;
  position: relative;
  z-index: 3;
}

.fas,
.far {
  padding: 8px;
  background: #676a70;
  border-radius: 50px;
}

.fas:hover,
.far:hover {
  background-color: gray;
  color: black;
}

.fa-times {
  background: #912204;
}

.fa-times:hover {
  background: #a03636;
}

.fa-window-maximize {
  display: none;
}
#file {
  display: none;
}
.menu {
  width: 200px;
  position: fixed;
  display: none;
}

.menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.menu a:hover {
  background-color: #ccc;
}

.menu a.active {
  background-color: #4caf50;
  color: white;
}

.hidden {
  display: none;
}

.minimized {
  width: 125px !important;
  height: 45px !important;
  top: 91vh !important;
}

.maximized {
  width: 97vw !important;
  height: 97vh !important;
  top: 2px !important;
  left: 5px !important;
}

.restored {
  width: 500px !important;
  height: 600px !important;
}
